html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.imgcss{
  border: 2px solid black;
  width: 35rem;
}

.divtop{
  height: 100%;
  width: 100%;
  padding: 10px;
}

.div1{
  display: flex;
  flex-direction: row;
}
.rightbar{
margin: 50px;

}
.heading{
  background: linear-gradient(to left,
rgb(89, 186, 238),rgb(70, 181, 241),rgb(35, 147, 238),rgb(38, 178, 238),rgb(18, 140, 215),rgb(17, 87, 184),rgb(18, 54, 145));
-webkit-background-clip: text;
color: transparent;
}
/* CSS */
.btn {
  background-color: rgb(46, 162, 251);
  border-radius: 8px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px; */
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: -apple-system,".SFNSDisplay-Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  line-height: 100%;
  margin: 0;
  outline: 0;
  padding: 11px 15px 12px;
  text-align: center;
  transition: box-shadow .05s ease-in-out,opacity .05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.btn:hover {
  background-color: rgb(99, 65, 248);
}